---
layout: default
permalink: /
---

<p>
    Perusahaan-perusahaan taksi punya uang untuk membuat aplikasi seperti Uber.
</p>

<p>
    Kodak punya segala sumber daya &amp; pengalaman untuk membuat aplikasi seperti Instagram.
</p>

<p>
    Yang mereka tidak punya, adalah <em>mindset</em> inovasi &amp; keberanian untuk melakukannya. Dengan diam, tanpa sadar mereka menggali kubur sendiri.
</p>

<p>
    <strong>Krispi akan membantu kamu memilikinya.</strong> Karena di era ini, besar-kecil tidak lagi penting. Kaya-miskin bukan jaminan. Di era ini, dia yang paling tangkas berinovasi, adalah pemenang. 
</p>

<p>
    Mau jadi pemenang?
</p>

<p>
    Keluarlah dari zona nyaman! Bertindak!
</p>

<hr>

<h2 id="jadwal-acara-publik">Jadwal Acara Publik</h2> 

{% if site.categories.sgc != null %}

<h3 style="text-align: center; margin-bottom:15px;">Training &amp; Sertifikasi "Scrum Guide Competence"</h3>

{% for e in site.categories.sgc  %}
    {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
    {% capture training-date %}{{e.date-start | date: '%s'}}{% endcapture %}
    {% if training-date > nowunix %}
        <div class="event-box">
            <span class="date">{% include id-date-range.html start=e.date-start end=e.date-end %}</span>
            <h4>{{ e.trainer }}</h4>
            <img class="trainer" align="left" src="{{ site.url }}/assets/images/{{ e.trainer-photo }}" >
            Biaya: Rp. {{ e.price }} / orang<br>
            Tempat: {{ e.venue }}, {{ e.city }}<br>
            <a class="button" href="{{ e.registration }}">&nbsp;Pelajari &amp; Daftar&nbsp;</a>
        </div>
    {% endif %}
{% endfor %}

<div style="height: 30px;"></div>

{% endif %}

<hr>

<h2>Tulisan terbaru</h2>

<ul>
  {% for post in site.categories.tips  %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a><br>
      {% include id-date.html date=post.date %}
    </li>
  {% endfor %}
</ul>