.event-box{
    background-color: #d1e3ff;
    padding: 0.7em 1em;
    margin-top: 1em;
    min-height: 100px;
    
    h4{
        margin-bottom: 5px;
    }

    .date{
        float: right;
        font-weight: 600;
    }

    img.trainer{
        width: 70px;
        margin-right: 5px;
    }

    a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        text-decoration: none;
        color: initial;
        padding: 2px;
    }
}
