---
---

@import "bootstrap/bootstrap";
@import "creative/creative";

.navbar-shrink{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

header.masthead{
  background-image: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 120%), url(http://infopublik.id/assets/upload/headline//20170828115015.jpg);
  
  .header-content .header-content-inner p{
    font-weight: 500;
  }
}

.bg-primary{
  p a{
    color: #e7ec2d;
  }
  p a:visited{
    color: #ccd200;
  }
  .lead{
    font-weight: 350;
  }
  
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

.content-section-b {
  padding: 50px 0;
  border-bottom: 1px solid #e7e7e7;
}
