<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title}} | {{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">

      <header>
        <span class="site-title"><a href="/">{{ site.title }}</a></span>
        <div class="description">Kami perusahaan konsultan <a href="{{ '/tentang-kami#kenapa-inovasi' }}">inovasi</a> di Indonesia. Kami <a href="http://dna.crisp.se/docs/index.html" target="_blank">bergerak</a> seperti <a style="white-space: nowrap;" href="https://www.crisp.se" target="_blank">Crisp di Swedia</a>.</div>
        <nav>
          <a href="{{ '/tentang-kami' }}">Kami</a> &nbsp;&middot;&nbsp; <a href="{{ '/bantuan-kami' }}">Bantuan Kami</a> &nbsp;&middot;&nbsp; <a href="{{ '/konsultan' }}">Para Konsultan</a> &nbsp;&middot;&nbsp; <a href="{{ '/jadwal-training-publik' }}">Jadwal Training Publik</a> &nbsp;&middot;&nbsp; <a href="{{ '/arsip' }}">Arsip Tulisan</a>
        </nav>
      </header>

      <section>
      {{ content }}
      </section>
      
      <footer>
        <p><small></small></p>
      </footer>

    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}

  </body>
</html>
