<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

{% include landing_header.html %}

<header class="masthead" id="page-top">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="text-uppercase text-white font-weight-bold">Kogito:</h1>
        <h2>Koperasi Digital & Ekonomi Gotong Royong</h2>
        <p class="text-white-100 font-weight-bold mb-3">
          Visi Kami: Indonesia Adil-Makmur lewat Koperasi-Koperasi yang Profesional dan Pro-Anggota
        </p>
        <hr class="divider my-4">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#persepsi" style="text-transform:none;font-size: 1.2em;">Hah!? Koperasi? 🤔</a>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="persepsi">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Apa yang terlintas saat mendengar kata 'Koperasi'?</h2>
          <hr class="light mt-4 mb-4">
          <p class="text-faded lead">
            Tempat pegawai pinjam uang? Tempat 'parkir' uang agar tidak kena pajak? 'Serikat pekerja' formalitas buatan perusahaan? Tempat cuci 'uang kotor'? Ada banyak stigma buruk koperasi. Padahal, Moh. Hatta membayangkan koperasi sebagai tulang punggung ekonomi Indonesia&mdash;karena baik kapitalisme atau komunisme tidak cocok untuk kultur orang Indonesia. Di dunia sendiri, <a href="https://www.thenews.coop/49090/sector/view-top-300-co-operatives-around-world/">sudah banyak contoh koperasi profesional</a>. Artinya, sudah hampir satu abad merdeka, Indonesia belum menggali potensinya sama sekali.
          </p>
        </div>
      </div>
      <div class="text-center mt-3">
          <a class="btn btn-default btn-xl js-scroll-trigger" href="#masalah">Kenapa Bisa Begitu?</a>
        </div>
    </div>
  </section>

  <section id="masalah" style="border-bottom: 1px solid #e7e7e7;">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading">Empat Penyebab Koperasi Gagal Berkembang</h2>
        <hr class="primary mt-4">
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-3">
            <h3 class="h4 mb-2">Tidak Paham</h3>
            <p class="text-muted mb-0">Koperasi pada dasarnya adalah sebuah perusahaan. Bedanya, pemegang saham adalah seluruh anggotanya&mdash;bukan pemodal. AD/ART & kepengurusan ditentukan bersama; satu-orang-satu-suara. Banyak anggota ataupun non-anggota yang tidak tahu akan hal ini.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-3">
            <h3 class="h4 mb-2">Anggota Pasif</h3>
            <p class="text-muted mb-0">Akibat ketidakpahaman akan kekuatan mereka, anggota koperasi jadi pasif. Mereka hanya mengikuti program-program yang dicanangkan oleh pengurus&mdash;tidak tahu kalau mereka bisa memecat pengurus yang korup atau kurang profesional.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-3">
            <h3 class="h4 mb-2">Niat Awal Sudah Buruk</h3>
            <p class="text-muted mb-0">Bila dari awal dibentuk sebagai semi-rentenir, tempat cuci uang, atau 'serikat pekerja' formalitas, tentu masa depannya akan suram. Minimal, perombakan AD/ART diperlukan untuk merancang ulang DNA koperasi.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-3">
            <h3 class="h4 mb-2">Kepemimpinan Kurang</h3>
            <p class="text-muted mb-0">Sebagaimana perusahan pada umumnya, koperasi yang baik harus bisa merekrut dan menggaji CEO secara profesional. CEO sendiri harus bisa menjalankan koperasi secara profesional dan transparan&mdash;terlebih karena pekerja adalah juga pemegang saham.</p>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#solusi">Solusi Kogito?</a>
      </div>
    </div>
  </section>

  <section id="solusi" class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-white">Jasa-Jasa yang Kogito Tawarkan</h2>
          <hr class="primary">
          <p class="lead text-white text-faded">
            Berikut usaha kami untuk memperbanyak koperasi-koperasi profesional & pro-anggota...
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <h2 class="section-heading">1. Pelatihan Koperasi</h2>
          <p class="lead">
            Koperasi profesional adalah yang benar-benar dimiliki oleh anggotanya. Kami akan mengajarkan cara-cara untuk: menjadikan anggota sebagai fokus koperasi, memilih ketua pengurus harian dengan LUBER JUDIL, transparan operasional, dan transparan finansial,
          </p>
        </div>
        <div class="col-lg-5 mr-auto">
          <img class="img-fluid" src="" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto order-lg-2">
          <div class="clearfix"></div>
          <h2 class="section-heading">2. Pelatihan Organisasi Non-Koperasi</h2>
          <p class="lead">
            Apakah harus jadi koperasi dulu untuk merasakan manfaatnya? Jawabannya, tidak harus. Perusahaan privat bisa meningkatkan keaktifan, loyalitas, dan produktifitas pekerja dengan mengadopsi beberapa praktik inti koperasi. Undang Kogito untuk presentasi lebih lanjut.
          </p>
        </div>
        <div class="col-lg-5 ml-auto order-lg-1">
          <img class="img-fluid" src="" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <h2 class="section-heading">3. Pembuatan Koperasi</h2>
          <p class="lead">
            Di era baru ini, banyak kaum milenial yang ingin membangun <s>startup</s> bisnis. Tahukan kamu bahwa Ace Hardware adalah koperasi? Jika sepakat dengan spirit kekeluargaan koperasi, jika ingin membangun bisnis yang hidup lama karena dijaga bersama, Kogito siap membantu Anda dalam proses inisiasi koperasi profesional. 
          </p>
        </div>
        <div class="col-lg-5 mr-auto">
          <img class="img-fluid" src="" alt="">
        </div>
      </div>
    </div>
  </div>

  <section id="masalah" style="border-bottom: 1px solid #e7e7e7;">
    <div class="container text-center">
      <p class="lead">
        FYI. Kogito sendiri adalah sebuah koperasi serba usaha.
      </p>
      <p class="lead">
        Kami memiliki banyak usaha sampingan agar bisa mandiri. Seperti <a href="#">Labirin</a> & <a href="#">Jasa Pemasaran Training</a>.
      </p>
    </div>
  </section>

  {% include footer.html %}

</body>

</html>
